body {
	font-family: 'Lato', sans-serif;
	margin: 0;
	background-color: #FFFFFF;
}

header {
	background-color: #191970;
	font-size: 40px;
	color: #FFFFFF;
}

.site-title {
  margin: 0;
  padding: 20px;
}

.navbar {
  font-size: 22px;
  background-color: #FFFFFF;
}

.navlist {
  margin: 0;
}

.navitem {
  display: inline-block;
}

.navitem:hover {
  background-color: #ced8db;
}

.navitem a {
  display: inline-block;
  color: #454545;
  padding: 10px 20px;
}

.navitem.right {
  float: right;
}

h3 {
  text-align: center;
}
