<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel='icon' href='favicon.ico?v=1.1' type='image/png' />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
  <link rel="stylesheet" href="style.css" />
  <link href="https://fonts.googleapis.com/css?family=Lato:100,400" rel="stylesheet" />
  <title>CovidCoach</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
  <header>
    <h1 class="site-title">CovidCoach</h1>
  </header>
  <nav class="navbar">
    <ul class="navlist">
      <li class="navitem" id="news">
        <a href="/index">Latest News</a>
      </li>
      <li class="navitem" id="tips">
        <a href="/safety">Safety Tips</a>
      </li>
      <li class="navitem" id="forum"><a href="/forum">Forum</a></li>
      <li class="navitem" id="login"><a href="/login">Login</a></li>
    </ul>
  </nav>
  {{{body}}}
</body>

</html>